<!doctype html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>

        <header class="nav-container">
            <%- include('../partials/header') %>
        </header>

        <main>


<!-- ######################## HERO SECTION ######################## -->

            <section id='hero' class='full-container'>

                <%- include('../partials/hero') %>
                
            </section>

        
<!-- ######################## PRODUCTS SECTION ######################## -->

            <section id='products' class='full-container'>
                <%- include('../partials/products') %>
            </section>

<!-- ######################## ABOUT US SECTION ######################## -->

            <section id='about' class='full-container'>

                <%- include('../partials/about-us') %>

            </section>


<!-- ######################## PROJECTS SECTION ######################## -->

            <section id='projects' class='full-container'>
                
                <%- include('../partials/projects') %>

            </section>

<!-- ######################## TESTIMONIALS SECTION ######################## -->

            <section class='full-container'>
                <section id="testimonials" class='eight-container'>
                    <%- include('../partials/testimonials') %>
                </section>

                <section id='brands' class='four-container'>
                    <%- include('../partials/brands') %>
                </section>
            </section>
        

            

            <!-- ######################## CALCULATOR SECTION ######################## -->

            <section id='calculator' class='full-container'>

                <%- include('../partials/calculator') %>
                
            </section>

            <!-- ######################## CONTACT SECTION ######################## -->

            <section id='contact' class='full-container'>
                <div class='d-flex center-content h-12'>
                    <div class="banner-3 gray">

                        <header>
                            <h2>Contact</h2>
                        </header>

                        <main>
                            <form>
                                <label for="fname">first name</label> <input type='text' id='fname' name='fname'>
                                <label for="lname">last name</label> <input type='text' id='lname' name='lname'>
                                <label for="email">email</label> <input type='text' id='email' name='email'>
                                <label for="subject">subject</label> <input type='text' id='subject' name='subject'>
                                <label for="content">content</label> <input type='text-area' id='content' name='content'>
                            </form>
                        </main>

                        <footer>
                            <button>Submit</button>
                        </footer>
                    </div>
                </div>
                
            </section>



        </main>

        <footer id="footer" class="full-container">
            <%- include('../partials/footer') %>
        </footer>

    </body>
</html>